@if (isLoading) {
  <app-loader></app-loader>
}
<nav class="navbar navbar-expand-lg custom-navbar" [class.transparent-header]="isHome">
  <div class="container-fluid px-4 position-relative">
    @if(currentLang === 'ar'){
      <a class="navbar-brand d-flex align-items-center " routerLink="/">
        <img src="https://res.cloudinary.com/dvlo9lpxo/image/upload/c_crop,ar_16:9/v1747859900/ride-mart-logo-arabic_t6xwes.png" alt="RideMart Logo" class="logo me-2" />
      </a>
    }@else {
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img src="https://res.cloudinary.com/dvlo9lpxo/image/upload/e_background_removal/c_crop,ar_16:9,f_png/v1747768547/ride-mart-logo-white_vap6jw.png" alt="RideMart Logo" class="logo me-2" />
      </a>
    }
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="ri-menu-line"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav flex-lg-row flex-column align-items-lg-center">
        @if(!auth.isLoggedIn()){
            <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" >{{ 'header.home' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/car-listings" routerLinkActive="active">{{ 'header.car-listings' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact-us" routerLinkActive="active">{{ 'header.contact' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about-us" routerLinkActive="active">{{ 'header.about' | translate }}</a></li>
            @if(!isHome){
            <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">{{ 'header.login' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/register" routerLinkActive="active">{{ 'header.register' | translate }}</a></li>
            }

        } 
        @switch (auth.userRole()) {
          @case('customer'){
            <li class="nav-item"><a class="nav-link" routerLink="/customer/dashboard" routerLinkActive="active">{{ 'header.customer.dashboard' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/customer/car-listings" routerLinkActive="active">{{ 'header.car-listings' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/customer/requests" routerLinkActive="active">{{ 'header.customer.requests' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact-us" routerLinkActive="active">{{ 'header.contact' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about-us" routerLinkActive="active">{{ 'header.about' | translate }}</a></li>
          }
           @case('admin'){
            <li class="nav-item"><a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">{{ 'header.admin.dashboard' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/clients" routerLinkActive="active">{{ 'header.admin.clients' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/car-models" routerLinkActive="active">{{ 'header.admin.carModels' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/profile" routerLinkActive="active">{{ 'header.admin.profile' | translate }}</a></li>
          }
          @case('client'){
            <li class="nav-item"><a class="nav-link" routerLink="/client/dashboard" routerLinkActive="active">{{ 'header.client.dashboard' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/client/cars" routerLinkActive="active">{{ 'header.client.cars' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/client/requests" routerLinkActive="active">{{ 'header.client.requests' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/client/payments" routerLinkActive="active">{{ 'header.client.payments' | translate }}</a></li>
          }
        }
        @if (auth.isLoggedIn()) {
          <button class="btn btn-danger btn-sm me-2 ms-2" (click)="auth.logout()">{{ 'header.logout' | translate }}</button>
        }
      </ul>
      <div class="d-flex align-items-center mt-1 mt-lg-0">
        <!-- Desktop language switcher -->
        <div class="language-switcher-icon d-sm-flex">
          <button
            class="btn btn-md btn-outline-light"
            (click)="switchLanguage(currentLang === 'en' ? 'ar' : 'en')"
            [title]="currentLang === 'en' ? 'Switch to Arabic' : 'Switch to English'"
          >
            <i class="pi pi-globe me-1"></i>
            {{ currentLang === 'ar' ? 'English' : 'العربية' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>