<section class="about-us py-5 p-4">
  <div class="container fade-in-up" style="animation-delay: 0.2s">
    <div class="row align-items-center justify-content-center">
      <div class="col-6 col-lg-5 text-center mb-4 mb-lg-0">
        @if (currentLang === 'en') {
        <img
          src="https://res.cloudinary.com/dvlo9lpxo/image/upload/v1747841869/ride-mart-logo-white_xo2suy.png"
          alt="RideMart Logo"
          class="img-fluid"
          style="max-height: 400px; padding: 0.5rem 1.5rem; background: var(--color-bg); border-radius: 1rem"
        />
        }@else {
        <img
          src="https://res.cloudinary.com/dvlo9lpxo/image/upload/v1747859900/ride-mart-logo-arabic_t6xwes.png"
          alt="RideMart Logo"
          class="img-fluid"
          style="max-height: 400px; padding: 0.5rem 1.5rem; background: var(--color-bg); border-radius: 1rem"
        />
        }
      </div>
      <div class="col-12 col-lg-7">
        <h1 class="mb-3 text-center">{{'about-us.title' | translate}}</h1>
        <p [class]="currentLang ==='en' ? 'text-start' :'text-end'">{{'about-us.description1' | translate  }}</p>
        <p [class]="currentLang ==='en' ? 'text-start' :'text-end'">{{'about-us.description2' |translate}}</p>
        <p [class]="currentLang ==='en' ? 'text-start' :'text-end'">{{'about-us.thanks' | translate}}<p>
      </div>
    </div>
  </div>
</section>
